{% extends "todo/base.html" %}

{% block content %}
    <!-- Title, Date and Buttons -->
    <div class="row mb-5">
        <div class="col">
            <h1>All Tasks</h1>
            <p class="text-secondary fw-bold">Saturday, 7 Mars 2021</p>   
        </div>
        <div class="col">
            <div class="d-flex justify-content-end">
                <span class="align-middle">
                    <a href="{% url 'task-create' %}" class="btn btn-danger align-middle">Add New Task</a>
                </span>
            </div>
        </div>                     
    </div>
    
    <!-- Tasks Displayed Here -->
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tasks</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>
                        <p>{{ task.title }}</p>
                        <p class="text-secondary date-text">{{ task.taskdate }} / <span class="fw-bold">{{ task.label }}</span> </p>
                        <p class="text-danger fw-bold">{{ task.priority }} </p>
                    </td>
                    <td>
                        <p>
                            <a href="#" class="black-text fw-bold text-decoration-none">CROSS</a>
                        </p>
                    </td>
                    <td>
                        <a href="{% url 'task-update' task.id %}" class="text-decoration-none pe-3">Edit</a>
                        <a href="{% url 'task-delete' task.id %}" class="text-danger text-decoration-none pe-3">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}