{% extends "todo/base.html" %}

{% block content %}
    <div class="row mb-5">
        <div class="col">
            <div>
            
            </div>
            <h1 class="mb-4">Display Tasks By Label</h1>
            <select name='custom-labels' class="form-select mb-4" aria-label="Default select example" width="50">
                <option value="None" name>None</option> 
            {% for label in labels %}
                <option value="{{ label.label }}">{{ label.label }}</option>
            {% endfor %}
            <!-- <option selected>None</option> 
            <option value="1">KEJES</option>
            <option value="2">VAYNERMEDIA</option> -->
            </select>
            <button type="button" class="btn btn-info text-white fw-bold align-middle">Select Label</button>
        </div>
        <div class="col">
            <div class="d-flex justify-content-end">
                <span class="align-middle">
                    <a href="{% url 'label-create' %}" class="btn btn-danger align-middle">Add New Label</a>
                </span>
            </div>
        </div>                     
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Tasks</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Here you should code the customLabels part, cuz you didnt code that still -->
                <tr>
                    <td>
                        <p>This is my KEJES task!</p>
                        <p class="text-secondary date-text">7 Mars 2021 / <span class="fw-bold">KEJES</span></p>
                        <p class="text-danger fw-bold">High Priority </p>
                    </td>
                    <td>
                        <p>
                            <a href="#" class="black-text fw-bold text-decoration-none">CROSS</a>
                        </p>
                    </td>
                    <td>
                        <a href="#" class="text-decoration-none pe-3">Edit</a>
                        <a href="#" class="text-danger text-decoration-none pe-3">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>This is my VAYNERMEDIA task!</p>
                        <p class="text-secondary date-text">7 Mars 2021 / <span class="fw-bold">VAYNERMEDIA</span></p>
                        <p class="text-danger fw-bold">High Priority </p>
                    </td>
                    <td>
                        <p>
                            <a href="#" class="black-text fw-bold text-decoration-none">CROSS</a>
                        </p>
                    </td>
                    <td>
                        <a href="#" class="text-decoration-none pe-3">Edit</a>
                        <a href="#" class="text-danger text-decoration-none pe-3">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}