{% extends "todo/base.html" %}

{% block content %}
    <div class="row mb-5">
        <div class="col">
            <h1 class="mb-4">Display Tasks By Priority</h1>
            <form action="{% url 'todo-priority' %}">
                <select name="customPriorities" class="form-select mb-4" aria-label="Default select example" width="50">
                    <option selected>All</option>
                    <option value="1">No Priority</option>
                    <option value="2">Low</option>
                    <option value="3">Medium</option>
                    <option value="4">High</option>
                </select>
                <input type="submit" class="btn btn-info text-white fw-bold align-middle" value="Submit"/>
            </form>
        </div>
        <div class="col">
            <div class="d-flex justify-content-end">
                <span class="align-middle">
                    <a href="{% url 'task-create' %}" class="btn btn-danger align-middle">Add New Task</a>
                </span>
            </div>
        </div>                     
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Tasks</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>
                        <p>{{ task.title }}</p>
                        <p class="text-secondary date-text">{{ task.taskdate }} / <span class="fw-bold">{{ task.label }}</span> </p>
                        <p class="text-danger fw-bold">{{ task.priority }} </p>
                    </td>
                    <td>
                        <p>
                            <a href="#" class="black-text fw-bold text-decoration-none">CROSS</a>
                        </p>
                    </td>
                    <td>
                        <a href="{% url 'task-update' task.id %}" class="text-decoration-none pe-3">Edit</a>
                        <a href="{% url 'task-delete' task.id %}" class="text-danger text-decoration-none pe-3">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}