{% extends "todo/base.html" %}

{% block content %}
    <div class="row mb-5">
        <div class="col">
            <div>
            
            </div>
            <h1>Upcoming Tasks</h1>
            <p class="text-secondary fw-bold">Saturday, 7 Mars 2021</p>   
        </div>
        <div class="col">
            <div class="d-flex justify-content-end">
                <span class="align-middle">
                    <button type="button" class="btn btn-danger align-middle">Add New Task</button>
                </span>
            </div>
        </div>                     
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Upcoming Tasks</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>This is my first task!</p>
                        <p class="text-success date-text">7 Mars 2021</p>
                    </td>
                    <td>
                        <p>
                            <a href="#" class="black-text fw-bold text-decoration-none">CROSS</a>
                        </p>
                    </td>
                    <td>
                        <a href="#" class="text-decoration-none pe-3">Edit</a>
                        <a href="#" class="text-danger text-decoration-none pe-3">Delete</a>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
{% endblock content %}